        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
        
        body {
            display: flex;
        }
        
        .picture {
            background-image: url(/imgs/halie-west-25xggax4bSA-unsplash.jpg);
            background-size: cover;
            height: 100vh;
            width: 500px;
            display: flex;
            color: white;
            gap: 10px;
        }
        
        .odin-logo {
            display: flex;
            position: relative;
            bottom: 200px;
            align-self: center;
            height: 150px;
            width: 500px;
            background-color: rgba(0, 0, 0, 0.35);
            justify-content: center;
        }
        
        .odin-icon {
            align-self: center;
            width: 90px;
        }
        
        .img-info {
            position: absolute;
            align-self: flex-end;
            margin-bottom: 10px;
            left: 100px;
        }
        
        .odin {
            align-self: center;
            font-size: 50px;
        }
        
        .sign-up {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        
        .sign-up p {
            padding-left: 40px;
            font-size: 22px;
            font-weight: 500;
        }
        
        .form-info {
            padding: 20px 40px 10px;
            background-color: white;
            height: 30vh;
        }
        
        .title {
            position: relative;
            bottom: 10px;
            font-weight: 600;
            font-size: 22px;
        }
        
        .form-info form .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        form .user-details .input-box {
            width: calc(100% / 2 - 20px);
        }
        
        .user-details .input-box input {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            outline: 1;
            border: 1;
            border: 1px solid #ccc;
            transition: all 0.3 ease;
        }
        
        .user-details .input-box input:focus,
        .user-details .input-box input:focus {
            border-color: #9EB1EA;
        }
        
        label {
            font-size: 14px;
            font-weight: 500;
        }
        
        .form-box {
            box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
        }
        
        .message {
            font-size: 13px;
            color: red;
            position: absolute;
            top: 595px;
        }
        
        .button {
            margin-left: 50px;
            position: relative;
            bottom: 80px;
        }
        
        button {
            border: none;
            background-color: #596D48;
            padding: 12px 48px;
            border-radius: 8px;
            box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            color: white;
            font-weight: 700;
            font-size: 16px;
        }
        
        .log-in {
            margin-top: 30px;
            position: relative;
            right: 40px;
        }
        
        .log-in p {
            font-size: 18px;
            font-weight: 300;
        }
        
        .log-in a {
            color: #596D48;
            font-weight: 600;
            text-decoration: none;
        }